@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
}

.container {
    width: 70%;
    place-self: center;
}
.container-fluid {
    width: 85%;
    place-self: center;
}